:root {
    --primary: #e47200;
    --bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color: hwb(224 69% 4%);
    border-bottom: 1px solid #011b06;
    position: static;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-brand {
    font-size: 3rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-style: italic;
}
.navbar .navbar-brand img {
    border-radius: 100%;
    width: 80px;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding: 0.1rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
}
/* Jumbotron */

.hero {
    background: url(../img/museumbaharipintu.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-bottom: 80px;
}
.hero .hero-text {
    margin-top: 35%;
    margin-bottom: 20%;
}
.hero .row {
    position: relative;
    margin-left: 50%;
}
/* swiper */
.carousel {
    padding: 5em;
}

/* Footer */
.footer {
    background-color: #37324b;
    padding: 5em;
}
.footer h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #a3a1ac;
    margin-bottom: 2em;
}
.footer h1 span {
    color: #fff;
    font-weight: 300;
}
.footer h1:after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #37a7ff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-40px, 10px);
}
.footer ul.social-links li a {
    padding-left: 12px;
    padding-right: 12px;
}
.footer ul.social-links li a img {
    max-height: 40px;
}

/* Sub-footer */
.sub-footer {
    background-color: #322e45;
    padding: 2em;
    color: #a3a1ac;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.sub-footer p {
    margin: 0;
    font-size: 1.2em;
}
.sub-footer p a {
    color: #fff;
}
.sub-footer p a:hover {
    opacity: 0.8;
}
/*media Queries*/

/* Laptop */
@media (max-widht: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-widht: 758px) {
    html {
        font-size: 62.5%;
    }
}
/* Phone */
@media screen and (max-widht: 450px) {
    html {
        font-size: 55%;
    }
}
